.button {
  &__blue {
    background: color(secondary, light);
    color: white;
    border: none;
    padding: .75rem;
    font-weight: 300;
    font-size: 1.8rem;
    display: inline-block;
    text-decoration: none;
    line-height: 1;

    &--link {
      background: none;
    }
  }

  &__secondary {
    @extend .button__blue;
    background: color(grey, dark);
  }
}