$colors: (
    background: #000,
    primary: (
        base: #eb2f64,
        light: #FF3366,
        dark: #BA265D
    ),
    secondary: (
        light: #ffb900,
        dark: #ff7730
    ),
    teritairy: (
        light: #2998ff,
        dark: #5643fa
    ),
    grey: (
        black: #000000,
        darkest: #333333,
        darker: #636363,
        dark: #777777,
        light: #adadad,
        lighter: #cccccc,
        lightest: #eeeeee,
        white: #ffffff
    )
);

@function color($name, $group-name: null) {
    @if ($group-name != null) {
        @return map-get(map-get($colors, $name), $group-name);
    } @else {
        @return map-get($colors, $name);
    }
}

// Sizes
$m: 1rem;
$m: 1.5rem;
$l: 2rem;
$xl: 2.5rem;